<div class="menu">
    <div class="menu1">
        <ul>
            <li><a href="{% url 'biblioteca' %}">Resumen</a></li>
            <li><a href="{% url 'prestamos' %}">Prestamos</a></li>
            <li><a href="{% url 'buscar-libro' %}">Libros</a></li>
            <li><a href="{% url 'alumnos' %}">Alumnos</a></li>
            <li><a href="{% url 'categorias' %}">Categorias</a></li>
            <li><a href="{% url 'autores' %}">Autores</a></li>
            <li><a href="{% url 'editoriales' %}">Editoriales</a></li>
            
        </ul>
                
    </div>
    <div class="menu2">
        <a href="{% url 'logout' %}">Cerrar sesión</a>
    </div>
</div>