{% extends "master.html" %}
{% load static %}  
{% block titulo%}
Formulario Prestamos
{% endblock %}

{% block header %}

{% endblock %}

{% block contenido %}

<form method="POST">
{%csrf_token%}
    <input type="hidden" name="idAlumno" value="{{datos.idAlumno}}">
    <input type="hidden" name="idLibro" value="{{datos.idLibro}}">
    <div class="base-form">

    
    <h1>Ingresar Prestamo - Fecha de prestamo</h1>

    <span>Paso 3: Seleccionar Fecha</span>
    
        <div class="BL-buscador-div">
        <span>Fecha desde</span>
        <input type="date" name="desde" required>
        <span>Fecha Hasta</span>
        <input type="date" name="hasta" required>
            
        </div>

    <button class="boton-crear" type="submit" formaction="{% url 'prestamos-crear' %}">Ingresar Prestamo</button>

    
    </div>

</form>


{% endblock %}
