{% extends "master.html" %}
{% load static %}  
{% block titulo%}
Formulario Prestamos
{% endblock %}

{% block header %}

{% endblock %}

{% block contenido %}

<form method="POST">
{%csrf_token%}

    <div class="base-form">

    
    <h1>Ingresar Prestamo - Seleccionar Alumno</h1>

    <span>Paso 1:Seleccionar Alumno</span>
    
    <div class="BL-buscador-div">
        <span>Filtrar por Nombre o apellido:</span>
        {%if datos.busqueda == ''%}
        <input type="text" name="nombre" placeholder="Nombre o Apellido del alumno" list="listado-alumnos" autocomplete="off">
        {%else%}
        <input type="text" name="nombre" placeholder="Nombre o Apellido del alumno" value ='{{datos.busqueda}}' list="listado-alumnos" autocomplete="off">
        {%endif%}

        
    </div>
    <button class="boton-crear" type="submit" formaction="{% url 'prestamos-formulario' %}">Filtrar</button>
    
        <datalist id="listado-alumnos">
    {%for items in todosalumnos%}
        <option value="{{items.nombre}}">{{items.nombre}}</option>
        <option value="{{items.apellido}}">{{items.apellido}}</option>
    {%endfor%}
    </datalist>

    
    <table class="listado-de-libros" style="max-width: 850px;">
    <tr>
        <th>Rut</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Curso</th>
    </tr>

    {%for item in alumnos%}

    <tr onclick="ir('{% url 'prestamos-formulario2'%}?id={{item.id}}')">
        <td>{{item.rut}}</td>
        <td>{{item.nombre}}</td>
        <td>{{item.apellido}}</td>
        <td>{{item.curso}}</td>
    </tr>
    {%endfor%}

    </table>




    

    
    
    </div>

</form>


{% endblock %}
